{% extends 'base.html.twig' %}

{% block title %}GeTon - Round{% endblock %}

{% block body %}
<!-- Intro section -->
	<section class="intro-section spad">
					
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Les cycles/rounds de la tontine Ziganya</h6>
                    <table class="table table-bordered table-sm table-hover">
                        <thead>
                            <tr>
                                <th scope="col"><small><b>Date début</b></small></th>
                                <th scope="col"><small><b>Cotisation/mois</b></small></th>
                                <th scope="col"><small><b>caisse sociale/mois</b></small></th>
                                <th scope="col"><small><b>Durée du crédit</b></small></th>
                                <th scope="col"><small><b>Intérêts/mois(%)</b></small></th>
                                <th scope="col"><small><b>Période de grâce crédit</b></small></th>
                                <th scope="col"><small><b>Période de grâce intérêts</b></small></th>
                                <th scope="col"><small><b>Pénalité retard crédit</b></small></th>
                                <th scope="col"><small><b>Pénalité retard intérêts</b></small></th>
                                <th scope="col"><small><b>Pénalité retard rencontre</b></small></th>
                                <th scope="col"><small><b>Pénalité absence rencontre</b></small></th>
                                <th scope="col"><small><b>Fréquence des rencontres(jours)</b></small></th>
                                <th scope="col"><small><b>Heure début rencontre</b></small></th>
                                <th scope="col"><small><b>Etat</b></small></th>
                                <th scope="col"><small><b>Nombre total de rencontre</b></small></th>
                                <th scope="col"><small><b>Date clôture</b></small></th>
                                <th scope="col"><small><b>Actions</b></small></th>
                            </tr>
                        </thead>
                        <tbody>	
                        {% for r in rounds %}
                            <tr>
                                <td scope="row"><small>{{ r.roundStartDate | date('d/m/Y') }}</small></td>
                                <td><small>{{ r.monthlyCotisation }}</small></td>
                                <td><small>{{ r.monthlyCaisseSociale }}</small></td>
                                <td><small>{{ r.loanMonthsDuration }}</small></td>
                                <td><small>{{ r.loanMonthlyInterestPercentage }}</small></td>
                                <td><small>{{ r.loanPrincipalGracePeriod }}</small></td>
                                <td><small>{{ r.loanInterestGracePeriod }}</small></td>
                                <td><small>{{ r.principalLatePenalityPercentage }}</small></td>
                                <td><small>{{ r.interestLatePenalityPercentage }}</small></td>
                                <td><small>{{ r.meetingLatePenalityAmount }}</small></td>
                                <td><small>{{ r.meetingAbsencePenalityAmount }}</small></td>
                                <td><small>{{ r.meetingFrequency }}</small></td>
                                <td><small>{{ r.meetingStartHour }}</small></td>
                                <td><small>{{ r.status }}</small></td>
                                <td><small>{{ r.totalMeetings }}</small></td>                                
                                <td><small>                                
                                {% if r.roundClosingDate %}
                                    {{ m.roundClosingDate | date('d/m/Y') }}
                                {% else %}
                                    N/A
                                {% endif %}
                                </small></td>
                                <td>
                                    <a href="{{ path('admin_rounds_edit', {'id': r.id}) }}" class="btn btn-outline-warning rounded-btn btn-sm">
                                    <i class="fa fa-pencil"></i>
                                    </a>
                                    <a href="{{ path('admin_rounds_delete', {'id': r.id}) }}" class="btn btn-outline-danger rounded-btn btn-sm">
                                    <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>									
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
		
	</section>
	<!-- Intro section end -->
{% endblock %}
