{% extends 'base.html.twig' %}

{% block title %}Geon - Les Cotisations{% endblock %}

{% block body %}
    <!-- Intro section -->
	<section class="intro-section spad">
		<div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="register-head pb-2">
                        <h6 class="card-title">Amendes pour retards et absences non justifiés</h6>
                        <a href="{{ path('finances_sanctions_create') }}" class="bg-light text-danger"><b>+</b>Nouveau</a>
                    </div>
                    <table class="table table-bordered table-sm table-hover">
                        <thead>
                            <tr>
                                <th scope="col"><small><b>ID</b></small></th>
                                <th scope="col"><small><b>Date</b></small></th>
                                <th scope="col"><small><b>Membre</b></small></th>
                                <th scope="col"><small><b>Montant sanction</b></small></th>
                                <th scope="col"><small><b>Type sanction</b></small></th>
                                <th scope="col"><small><b>Action</b></small></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for s in sanctions %}
                            <tr>
                                <td scope="row"><small>{{ s.id }}</small></td>
                                <td scope="row"><small>{{ s.meeting.MeetingAt | date('d/m/Y') }}</small></td>
                                <td><small>{{ s.member.firstname }} {{ s.member.lastname }}</small></td>
                                <td><small>{{ s.amount }}</small></td>
                                <td><small>{{ s.sanctionType }}</small></td>
                                <td>
                                    <a href="{{ path('finances_sanctions_edit', {'id': s.id}) }}" class="btn btn-outline-warning rounded-btn btn-sm">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a href="{{ path('finances_sanctions_delete', {'id': s.id}) }}" class="btn btn-outline-danger rounded-btn btn-sm">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>	
		</div>
	</section>
	<!-- Intro section end -->
{% endblock %}
