<header class="header_wrap fixed-top header_with_topbar">    
    <div class="bottom_header dark_skin main_menu_uppercase">
        <div class="container">
            <nav class="navbar navbar-expand-lg"> 
                <a class="navbar-brand mr-3" href="{{ path('app_home') }}">
                <!--    <img class="logo_light" src="assets/images/logo_light.png" alt="logo" />
                    <img class="logo_dark" src="assets/images/logo_dark.png" alt="logo" /> -->
                    <div class="logo">
                        <img src="{{ asset('assets/images/logo.png') }}" alt="">
                        <h2>Ge<span class="danger">Ton</span></h2>
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false"> 
                    <span class="ion-android-menu"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="dropdown">
                            <a  class="nav-link" href="#">Accueil</a>   
                        </li>
                        <li class="dropdown">
                            <a class=" nav-link" href="#" data-toggle="dropdown">Réunions</a>
                        </li>
                        <li class="">
                            <a class=" nav-link" href="#" data-toggle="dropdown">Cotisations</a>                           
                        </li>
                        <li class="dropdown">
                            <a class=" nav-link" href="#" data-toggle="dropdown">Caisse sociale</a>                            
                        </li>
                        <li class="">
                            <a class=" nav-link" href="#" data-toggle="dropdown">Crédits</a>                            
                        </li>
                        <li><a class="nav-link nav_item" href="#">Membres</a></li> 
                        <li><a class="nav-link nav_item" href="#">Paramètres</a></li> 
                    </ul>
                </div>
                <div class="text-center text-md-right ml-5">
                    <ul class="header_list">
                    {% if app.user %}
                        <li><a href=""><i class="ti-user"></i><span class="text-danger">{{ app.user.firstname }} {{ app.user.lastname }}</span></a></li>
                        <li><a href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a></li>
                    {% else %}
                        <li><a href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt"></i><span>Login</span></a></li>
                    {% endif %}
                    </ul>
                </div>
                
            </nav>
        </div>
    </div>
</header>