{% extends 'admin/base.html.twig' %}

{% block title %}Acceuil - Périodes des cours{% endblock %}

{% block body %}
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <div class="text-center">
          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Périodes des cours</h1>
          </div>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <div class="row">
                <div class="col-md-5">   
                  <h6 class="m-0 font-weight-bold text-primary">Liste complète</h6>
                </div>
                  
                <div class="col-md-5"></div>
                <div class="col">
                    <a href="{{ path('admin_coursesperiod_create') }}" class="btn btn-sm btn-success">Nouvelle période de cours</a>
                </div>
              </div>    
            </div>
         
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Année académique</th>
                      <th>Trimestre</th>
                      <th>Date début</th>
                      <th>Date fin</th>
                      <th>Niveau concerné</th>
                      <th>Montant pour la période (BIF)</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Année académique</th>
                      <th>Trimestre</th>
                      <th>Date début</th>
                      <th>Date fin</th>
                      <th>Niveau concerné</th>
                      <th>Montant pour la période (BIF)</th>
                      <th>Actions</th>
                    </tr>
                  </tfoot>
                  <tbody>
                  {% for coursesperiod in coursesperiods %}
                    <tr>
                      <td>{{coursesperiod.academicyear.name}}</td>
                      <td>{{coursesperiod.trimestre}}</td>
                      <td>{{coursesperiod.dateStart | date('d/m/Y')}}</td>
                      <td>{{coursesperiod.dateEnd | date('d/m/Y')}}</td>
                      <td>{{coursesperiod.palier}}</td>
                      <td>{{coursesperiod.dueAmount | number_format(0, ","," ")}}</td>
                      <td>
                        <a href="{{ path('admin_coursesperiod_edit', {'id': coursesperiod.id}) }}" class="btn btn-sm btn-primary"><i class="fas fa-edit"></i></a>
                        <a href="{{ path('admin_coursesperiod_edit', {'id': coursesperiod.id}) }}" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
                      </td>
                    </tr>
                  {% endfor %}                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
{% endblock %}
