{% extends 'admin/base.html.twig' %}

{% block title %}Inscriptions{% endblock %}

{% block body %}
    <!-- Begin Page Content -->
      <div class="container-fluid">
        <div class="text-center">
          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Gestions des inscriptions</h1>
        </div>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
              <div class="row">
                <div class="col-md-5">   
                  <h6 class="m-0 font-weight-bold text-primary">Liste complète</h6>
                </div>
                  
                <div class="col-md-5"></div>
                <div class="col">
                    <a href="{#{ path('admin_inscription_create') }#}" class="btn btn-sm btn-success">Nouvelle inscription</a>
                </div>
              </div>    
            </div>
          
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Année académique</th>
                    <th>Etudiant</th>
                    <th>Matricule</th>
                    <th>Inscrit le</th>
                    <th>Campus</th>
                    <th>Cursus</th>
                    <th>Niveau</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Année académique</th>
                    <th>Etudiant</th>
                    <th>Matricule</th>
                    <th>Inscrit le</th>
                    <th>Campus</th>
                    <th>Cursus</th>
                    <th>Niveau</th>
                    <th>Actions</th>
                  </tr>
                </tfoot>
                <tbody>
                {% for insc in inscriptions %}
                  <tr>                  
                    <td>{{insc.academicyear.name}}</td>
                    <td>{{insc.student.lastname}} {{insc.student.firstname}}</td>
                    <td>{{insc.student.matricule}}</td>
                    <td>{{insc.dateRegistration | date('d/m/Y')}}</td>
                    <td>{{insc.campus.name}}</td>
                    <td>{{insc.cursus.name}}</td>
                    <td>{{insc.niveau.appelation}}</td>
                    <td>
                      <a href="{{ path('admin_inscription_edit', {'id':insc.id}) }}" class="btn btn-sm btn-primary"><i class="fas fa-edit"></i></a>
                      <a href="{{ path('admin_inscription_delete', {'id':insc.id}) }}" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
                    </td>
                  </tr>
                {% endfor %}                    
                </tbody>
              </table>
            </div>
          </div>
        </div>
        
      </div>
      <!-- /.container-fluid -->
{% endblock %}
