{% extends 'admin/base.html.twig' %}

{% block title %}Acceuil - Etudiants{% endblock %}

{% block body %}
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <div class="text-center">
          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Etudiants</h1>
          </div>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <div class="row">
                <div class="col-md-5">   
                  <h6 class="m-0 font-weight-bold text-primary">Liste complète</h6>
                </div>
                  
                <div class="col-md-5"></div>
                <div class="col">
                    <a href="{{ path('admin_student_create') }}" class="btn btn-sm btn-success">Ajouter un étudiant</a>
                </div>
              </div>    
            </div>
         
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Nom</th>
                      <th>Prénom</th>
                      <th>Né(e) le</th>
                      <th>Lieu de naissance</th>
                      <th>Nationalité</th>
                      <th>CNI N°</th>
                      <th>Adresse actuelle</th>
                      <th>Nationalité</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Nom</th>
                      <th>Prénom</th>
                      <th>Né(e) le</th>
                      <th>Lieu de naissance</th>
                      <th>Nationalité</th>
                      <th>CNI N°</th>
                      <th>Adresse actuelle</th>
                      <th>Nationalité</th>
                      <th>Actions</th>
                    </tr>
                  </tfoot>
                  <tbody>
                  {% for student in students %}
                    <tr>
                      <td>{{student.lastname}}</td>
                      <td>{{student.firstname}}</td>
                      <td>{{student.dateBirth | date('d/m/Y')}}</td>
                      <td>{{student.placeBirth}}</td>
                      <td>{{student.nationality}}</td>
                      <td>{{student.nationalIdNumber}}</td>
                      <td>{{student.nationalIdNumber}}</td>
                      <td>{{student.address}}</td>
                      <td>
                        <a href="{{ path('admin_student_edit', {'id':student.id}) }}" class="btn btn-sm btn-primary"><i class="fas fa-edit"></i></a>
                        <a href="{{ path('admin_student_delete', {'id':student.id}) }}" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
                      </td>
                    </tr>
                  {% endfor %}                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
{% endblock %}
