<!DOCTYPE html>
<html>
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="GeTon" name="author">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Exclusively for all! " >
    <meta name="keywords" content="">

    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('images/favicon.png') }}">    

    <title>{% block title %}<b>Ge</b>Ton{% endblock %}</title>
    <!-- Material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    <link rel="stylesheet" href="{{ asset('multisteps-form.css') }}">
    <script src="{{ asset('multisteps-form.js') }}" defer></script>

    {% block stylesheets %}{% endblock %}
  </head>

  <body>
   <div class="container">
    <!------------------------- START OF ASIDE ------------------------------>
      <aside>
          <div class="top">
              <div class="logo">
                  <img src="{{asset('images/logo.png') }}" alt="">
                  <h2>Ge<span class="danger">Ton</span></h2>
              </div>
              <div class="close" id="close-btn">
                  <span class="material-icons-sharp">close</span>
              </div>
          </div>

          <div class="sidebar">
              <a href="#" class="active">
                  <span class="material-icons-sharp">grid_view</span>
                  <h3>Dashboard</h3>
              </a>
              <a href="#">
                  <span class="material-icons-sharp">groups</span>
                  <h3>Rencontres</h3>
              </a>
              <a href="#">
                  <span class="material-icons-sharp">account_balance</span>
                  <h3>Mes Crédits</h3>                  
                  <span class="loans-count">25</span>
              </a>
              <a href="#">
                  <span class="material-icons-sharp">receipt_long</span>
                  <h3>Echéanciers</h3>
              </a>
              <a href="#">
                  <span class="material-icons-sharp">person_outline</span>
                  <h3>Mon profile</h3>
              </a>
              <a href="#">
                  <span class="material-icons-sharp">inventory</span>
                  <h3>Rounds</h3>
              </a>
              <a href="#">
                  <span class="material-icons-sharp">report_gmailerrorred</span>
                  <h3>Reports</h3>
              </a>
              <a href="#">
                  <span class="material-icons-sharp">loyalty</span>
                  <h3>Membres</h3>
              </a>
              <a href="#">
                  <span class="material-icons-sharp">card_travel</span>
                  <h3>Finances</h3>
              </a>
              <a href="#">
                  <span class="material-icons-sharp">logout</span>
                  <h3>Logout</h3>
              </a>
          </div>
      </aside>
    <!----------------------------END OF ASIDE ------------------------------ -->
    {% block body %}{% endblock %}
   </div>

    <footer class="footer" style="background: black; color:white;">
      <div class="top_footer">
        <div class="footer-left">
          <div class="widget">
              <div class="logo">
                  <a href="#"><img src="{{ asset('images/logo555555.png') }}" alt="logo"/></a>
              </div>
              <p>Exclusively for all! Take advantage <br>
              of up to -50% on these offers during our smart days.</p>
          </div>
          <div class="widget">
              <ul class="social_icons social_white">
                  <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                  <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                  <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                  <li><a href="#"><i class="ion-social-youtube-outline"></i></a></li>
                  <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
              </ul>
          </div>
        </div>
        <div class="footer-center style="background: green; color:white;"">
          <div class="widget">
              <ul class="social_icons social_white">
                  <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                  <li><a href="#"><span class="material-icons-sharp">settings</span></a></li>
                  <li><a href="#"><span class="material-icons-sharp">monetization_on</span></a></li>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="ion-social-youtube-outline"></i></a></li>
                  <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
              </ul>
          </div>
        </div>
        <div class="footer-right">
          <h6 class="widget_title">Me Contactez</h6>
          <ul class="contact_info contact_info_light">
              <li>
                  <i class="ti-location-pin"></i>
                  <p> 11 Rue Arthur Weeber, 67100 Strasbourg, France</p>
              </li>
              <li>
                  <i class="ti-email"></i>
                  <a href="mailto:franimpa@yahoo.fr">franimpa@yahoo.fr</a>
              </li>
              <li>
                  <i class="ti-mobile"></i>
                  <p>+ 33 6 17 24 46 06</p>
              </li>
          </ul>
        </div>
      </div>
      <div class="bottom_footer">          
            <p class="mb-md-0 text-center text-md-center">Tous droits réservés © 2022 François nimpagaritse </p>
      </div>
    </footer>
 
  {% block javascripts %}
   
  {% endblock %}

  <script src="{{ asset('index.js') }}"></script>
  </body>
</html>
