{% extends 'base.html.twig' %}

{% block title %}GeTon - Tontine{% endblock %}

{% block body %}
<!-- Intro section -->
	<section class="intro-section spad">
					
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">La tontine Ziganya</h6>
                    <table class="table table-bordered table-sm table-hover">
                        <thead>
                            <tr>
                                <th scope="col"><small><b>Nom</b></small></th>
                                <th scope="col"><small><b>Date création</b></small></th>
                                <th scope="col"><small><b>Adresse siège social</b></small></th>
                                <th scope="col"><small><b>Devise monétaire</b></small></th>
                                <th scope="col"><small><b>Slogan</b></small></th>
                                <th scope="col"><small><b>Description</b></small></th>
                                <th scope="col"><small><b>Type de tontine</b></small></th>
                                <th scope="col"><small><b>Actions</b></small></th>
                            </tr>
                        </thead>
                        <tbody>	
                        {% for t in tontines %}
                            <tr>
                                <td scope="row"><small>{{ t.name }}</small></td>
                                <td><small>{{ t.createdAt | date('d/m/Y') }}</small></td>
                                <td><small>{{ t.addressSiegeSocial }}</small></td>
                                <td><small>{{ t.currency }}</small></td>
                                <td><small>{{ t.slogan }}</small></td>
                                <td><small>{{ t.description }}</small></td>
                                <td><small>{{ t.type }}</small></td>
                                <td>
                                    <a href="{{ path('admin_tontine_edit', {'id': t.id}) }}" class="btn btn-outline-warning rounded-btn btn-sm">
                                    <i class="fa fa-pencil"></i>
                                    </a>
                                </td>
                            </tr>									
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
		
	</section>
	<!-- Intro section end -->
{% endblock %}

